<button  class="back-button" (click)="navigateToHomePage()">{{'back' | transloco}}</button>
<div class="chat-container">
  <h1>{{'chat-for-order' | transloco}} {{id}}</h1>
  <br>

  <div class="scroll-container">
    <div class="chat-message user-message">
      <label>{{'begin-of-the-chat' | transloco}}</label>
      <br>
      @for (message of messagesForConversation(); track $index) {
      <label class="datetime">{{message.dateTime}}</label>
      <label class="content">{{message.content}}</label>
      <br>
      }
    </div>
  </div>

  <div class="input-area">
    <input [ngSignal]="messageContent" (keyup.enter)="sendMessage()" type="text">
    <br>
    <div class="form-group">
      <button [disabled]="!hasMessageContent() && !fileToUpload" (click)="sendMessage()">{{'send' | transloco}}</button>
      <button id="loadFileXml" value="loadXml" onclick="document.getElementById('file').click();">{{'choose-file' | transloco}}</button>
      <input style="display:none;" id="file" name="file" type="file" (change)="handleFileInput($event)">
    </div>
  </div>
  <br>

  <div class="file-input-area">
    @if (fileToUpload) {
    <div class="selected-file">
      <label>{{'selected-file' | transloco}}</label>
      <label>: {{fileToUpload.name}}</label>
      <br>
      <label>{{'file-size' | transloco}}</label>
      <label>:  {{fileToUpload.size / 1024 | number: '1.2-2'}} KB</label>
      <br>
      <button (click)="removeFile()">{{'remove-file' | transloco}}</button>
    </div>
    }
  </div>
</div>