.chat-container {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-height: 78vh;
  overflow: hidden;

  h1 {
    margin-bottom: 10px;
  }

  .scroll-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
  }

  .chat-message {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
  }

  .datetime {
    font-size: 12px;
    color: #999;
  }

  .content {
    background-color: #d9edf7;
    padding: 10px;
    margin-right: 10px 0;
    margin-left: 10px 0;
    margin-top: 5px 0;
    margin-bottom: 5px 0;
    border-radius: 5px;
  }

  .user-message {
    background-color: #d9edf7;
  }

  .input-area {
    margin-top: 20px;

    input[type="text"] {
      width: 80%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button {
      padding: 10px;
      margin-left: 10px;
      background-color: #4caf50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }

  button {
    padding: 10px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type="file"] {
    display: none;
  }

  .selected-file {
    background-color: #dff0d8;
    border-radius: 5px;
  }
}

.back-button {
  margin-top: 2px;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #2c3e50;
  }
}

.sendButton {
  width: 45px;
  height: 45px;
}

.fileDisplay {
  display: flex;
  align-items: center;
  margin-top: 1px;
  margin-bottom: 5px;
  max-width: 30%;
  max-height: 5em;
  overflow: hidden;
  line-height: 1.30em;
}

.fileText {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 2.6em;
}

.fileImg {
  height: 2.0em;
  margin-left: 5px;
  vertical-align: middle;
}

.downloadContainer {
  margin-left: 10px;
  display: flex;
  align-items: flex-end;
}

.downloadImg {
  height: 1.0em;
  margin-left: 5px;
  vertical-align: bottom;
}

.fileContainer {
  display: flex;
  align-items: center;
}

.button-container {
  display: flex;
  height: 45px;
  margin-top: 25px;
}

.button-container button {
  margin-right: 10px;
}