.form-container {
  margin: 20px;
}

.form-content {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.simple-row {
  display: flex;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
  margin-right: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-input {
  margin-right: 10px;
}

.checkbox-label {
  margin: 0;
}

.save-button,
.back-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button {
  background-color: #3498db;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #2c3e50;
  }
}

.save-button {
  background-color: #4CAF50;
  color: white;

  &:hover {
    background-color: #45a049;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.note {
  display: block;
  text-align: center;
  margin-top: 15px;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;

  .checkbox-label {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .checkbox-input {
    align-self: stretch;
  }
}

.error-message {
  position: absolute;
  color: red;
  font-size: 14px;
  font-weight: bold;
  margin-left: 2px;
}

.header-container{
  display: flex;
  justify-content: flex-start;
}

.add-article-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: blue;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;

  &:hover {
    background-color: darkblue;
  }
}

.remove-article-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: red;
  color: white;
  margin-top: 10px;

  &:hover {
    background-color: darkred;
  }
}

.checkbox-error-message {
  position: absolute;
  color: red;
  font-size: 14px;
  font-weight: bold;
  margin-left: 38%;
  margin-top: 80px;
}

.not-editable{
  background-color: #f0f0f0
}

.simple-margin{
  margin-left: 5%;
}

.simple-margin-with-top{
  margin-top: 1%;
  margin-left: 5%;
}