// combined-component.component.scss
.overviewBox {
  display: flex;
  border: 2px solid gray;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  justify-content: space-between;
}

.overviewBox button {
  background-color: #1368ed;
  border-radius: 10px;
  padding: 10px;
  color: white;
  width: 15%;
}

.searchBox {
  display: flex;
  margin: 10px 10px 0px 10px;
  border: 2px solid gray;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
  position: sticky;
  top: 0;
  background-color: white; /* Set the background color as needed */
  z-index: 100; /* Ensure it's above the content */
}

.orderBox {
  margin: 0px 10px 0px 10px;
  border: 2px solid gray;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
  overflow-y: auto;
  max-height: calc(100vh - 250px);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.container {
  display: flex;
  justify-content: flex-end; // Aligns items to the right
}

.right-corner-div label {
  margin-right: 5px; // Adjust as needed
}