.overviewBox {
  display: flex;
  border: 2px solid gray;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  justify-content: space-between;
}

.overviewBox button {
  background-color: #1368ed;
  border-radius: 10px;
  padding: 10px;
  color: white;
  width: 15%;
}

.searchBox {
  display: flex;
  margin: 10px 10px 0px 10px;
  border: 2px solid gray;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
  position: sticky;
  top: 0;
  background-color: white; 
  z-index: 100;
}

.orderBox {
  margin: 0px 10px 0px 10px;
  border: 2px solid gray;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
  overflow-y: auto;
  max-height: calc(100vh - 250px);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.container {
  display: flex;
  justify-content: flex-end;
}

.right-corner-div label {
  margin-right: 5px; 
}

.settings-button {
  background-color: #007bff;
  color: white; 
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  height: 40px;
  cursor: pointer;
  right: 1%;
  top: 5px;
  position: absolute;
}

.settings-button:hover {
  background-color: #0056b3; 
}