<div class="overviewBox">
  <h1>{{'container-page-header' | transloco}}</h1>

  <button (click)="navigateToPage('/new-container-order-page')">
    <h2>{{'new' | transloco}}</h2>
  </button>
</div>

<div class="searchBox">
  <input type="text" placeholder="{{'search-placeholder' | transloco}}">
</div>

<div class="orderBox">
  <table>
    <tr>
      <th>{{'order' | transloco}}</th>
      <th>{{'customer' | transloco}}</th>
      <th>{{'created-by' | transloco}}</th>
      <th>{{'ab-nr' | transloco}}</th>
      <th>{{'status' | transloco}}</th>
      <th>{{'article' | transloco}}</th>
      <th>{{'approved' | transloco}}</th>
      <th>{{'amount' | transloco}}</th>
      <th>{{'country' | transloco}}</th>
      <th>{{'port-of-arrival' | transloco}}</th>
      <th>{{'last-updated' | transloco}}</th>
      <th>{{'checklist' | transloco}}</th>
      <th>{{'edit' | transloco}}</th>
      <th>{{'chat' | transloco}}</th>
    </tr>
    @for (currOrder of dataService.allOrders(); track $index) {
    <tr>
      <td>{{currOrder.id}}</td>
      <td>{{currOrder.customerName}}</td>
      <td>{{currOrder.createdBy}}</td>
      <td>{{dataService.allAbNumbers()[$index]}}</td>
      <td>{{currOrder.status}}</td>
      <td>{{getArticleNumberForOrder(currOrder.id)}}</td>
      <td>{{getApprovedString(currOrder.approved)}}</td>
      <td>{{currOrder.amount}}</td>
      <td>{{getCountryForOrder(currOrder.id)}}</td>
      <td>{{getRecieveLocationForOrder(currOrder.id)}}</td>
      <td>{{currOrder.lastUpdated | date: 'dd.MM.yyyy'}}</td>
      <td (click)="openDialog(currOrder.checklistId)"><mat-icon>assignment</mat-icon></td>
      <td (click)="navigateToPage('/edit-container-order-page/' + currOrder.id)"><mat-icon>create</mat-icon></td>
      <td (click)="navigateToPage('/chat-for-order/' + currOrder.id)"><mat-icon>chat</mat-icon></td>
    </tr>
    }
  </table>
</div>