<div class="form-container">
  <div class="row-button">
    <button class="back-button" (click)="editService.navigateToPath()">{{'back' | transloco}}</button>
    <button class="save-button" (click)="editService.generatePDFFromContent()">{{'generatePDF' | transloco}}</button>
  </div>

  <div id="contentToConvert" class="form-content">
    <div class="csData">
      <div class="form-row">
        <div class="form-group">
          <div class="header-container">
            <div>
              <label>{{'created-by' | transloco}}</label>
            </div>
            <div>
              @if(!isCreatedByValid()){
              <label class="error-message">{{'simple-error' | transloco}}</label>
              }
            </div>
          </div>
          <input [ngSignal]="editService.createdByCS" type="text">
        </div>

        <div class="form-group">
          <div class="header-container">
            <div>
              <label>{{'customer' | transloco}}</label>
            </div>
            <div>
              @if(!isCustomerValid()){
              <label class="error-message">{{'simple-error' | transloco}}</label>
              }
            </div>
          </div>
          <input [ngSignal]="editService.customerName" type="text">
        </div>

        <div class="form-group">
          <div class="header-container">
            <div>
              <label>{{'customer-priority' | transloco}}</label>
            </div>
            <div>
              @if(!isCustomerPriortityValid()){
              <label class="error-message">{{'simple-error' | transloco}}</label>
              }
            </div>
          </div>
          <input [ngSignal]="customerPriority" type="text">
        </div>

        <div class="form-group">
          <div class="header-container">
            <div>
              <label>{{'recieving-country' | transloco}}</label>
            </div>
            <div>
              @if(!isRecievingCountryValid()){
              <label class="error-message">{{'simple-error' | transloco}}</label>
              }
            </div>
          </div>
          <input [ngSignal]="recievingCountry" type="text">
        </div>

        <div class="form-group additional-text">
          <label>{{'additional-text' | transloco}}</label>
          <textarea style="resize: none;" [ngSignal]="editService.additonalInformation" type="text"></textarea>
        </div>
      </div>

      <button class="add-article-button"
        (click)="addArticle(1, 1,  1, 1, 1, -1, '', '', '', '', '', '', 3)">{{'add-article' |
        transloco}}</button>
      <form [formGroup]="myForm">
        <div formArrayName="articles">
          @for (articleGroup of articlesFormArray.controls; track $index) {
          <div [formGroup]="getFormGroup($index)">
            <div class="border">
              <div class="form-row">
                <div class="form-group medium-number-field margin-top">
                  <div class="header-container">
                    <div>
                      <label>{{'article-number' | transloco}}</label>
                    </div>
                    <div>
                      @if (!validationService.isNumberValid(getFormGroup($index).get('articleNumber')!.value)) {
                      <label class="error-message">
                        {{'simple-error' | transloco}}</label>
                      }
                    </div>
                  </div>
                  <input type="number" formControlName="articleNumber">
                </div>

                <div class="form-group small-number-field">
                  <div class="header-container">
                    <div>
                      <label>{{'required-pallet-amount' | transloco}}</label>
                    </div>
                    <div>
                      @if (!validationService.isNumberValid(getFormGroup($index).get('palletAmount')!.value)) {
                      <label class="error-message">
                        {{'simple-error' | transloco}}</label>
                      }
                    </div>
                  </div>
                  <input type="number" formControlName="palletAmount">
                </div>

                <div class="form-group small-number-field">
                  <div class="header-container">
                    <div>
                      <label>{{'min-heigth-required' | transloco}}</label>
                    </div>
                    <div>
                      @if (!validationService.isNumberValid(getFormGroup($index).get('minHeigthRequired')!.value)) {
                      <label class="error-message">
                        {{'simple-error' | transloco}}</label>
                      }
                    </div>
                  </div>
                  <input (input)="setAreArticlesValid()" type="number" formControlName="minHeigthRequired">
                </div>

                <div class="form-group radio-group">
                  <label>{{ 'inquiry-for-fixed-order' | transloco }}</label>
                  <input class="custom-radio" type="radio" (change)="setAreArticlesValid()" [value]="0"
                    formControlName="selectedInquiry">
                </div>

                <div class="form-group radio-group">
                  <label>{{ 'inquiry-for-non-fixed-order' | transloco }}</label>
                  <input class="custom-radio" type="radio" (change)="setAreArticlesValid()" [value]="1"
                    formControlName="selectedInquiry">
                </div>

                <div class="form-group radio-group">
                  <label>{{ 'inquiry-for-quotation' | transloco }}</label>
                  <input class="custom-radio" type="radio" (change)="setAreArticlesValid()" [value]="2"
                    formControlName="selectedInquiry">
                </div>


                <div class="form-group margin-top">
                  <div class="header-container">
                    <div>
                      <label>{{'desired-delivery-date' | transloco}}</label>
                    </div>
                    <div>
                      @if(!validationService.isCalenderWeekValid(getFormGroup($index).get('desiredDeliveryDate')!.value))
                      {
                      <label class="error-message">
                        {{'simple-error' | transloco}}</label>
                      }
                    </div>
                  </div>
                  <div class="kw small-number-field">
                    <div class="simple-margin-with-margin-top">{{ 'kw' | transloco }}</div> <input
                      (input)="setAreArticlesValid()" type="number" formControlName="desiredDeliveryDate">
                  </div>
                </div>
              </div>

              @if (this.getFormGroup($index).get('deliveryDate')!.value !== -1 && isApprovedByPpPp()) {
              <div class="form-row">
                <div class="form-group small-number-field">
                  <label>{{'delivery-date' | transloco}}</label>
                  <div class="kw small-number-field">
                    <div class="simple-margin-with-margin-top">{{ 'kw' | transloco }}</div> <input readonly
                      class="not-editable" (input)="setAreArticlesValid()" type="number" formControlName="deliveryDate">
                  </div>
                </div>

                <div class="form-group">
                  <label>{{'short-text' | transloco}}</label>
                  <input class="not-editable" readonly (input)="setAreArticlesValid()" type="text"
                    formControlName="shortText">
                </div>

                <div class="form-group">
                  <label>{{'factory' | transloco}}</label>
                  <input class="not-editable" readonly (input)="setAreArticlesValid()" type="text"
                    formControlName="factory">
                </div>

                <div class="form-group">
                  <label>{{'plant' | transloco}}</label>
                  <input class="not-editable" readonly (input)="setAreArticlesValid()" type="text"
                    formControlName="plant">
                </div>

                <div class="form-group">
                  <label>{{'nozzle' | transloco}}</label>
                  <input class="not-editable" readonly (input)="setAreArticlesValid()" type="text"
                    formControlName="nozzle">
                </div>

                <div class="form-group">
                  <label>{{'production-order' | transloco}}</label>
                  <input class="not-editable" readonly (input)="setAreArticlesValid()" type="text"
                    formControlName="productionOrder">
                </div>

                <div class="form-group">
                  <label>{{'planned-order' | transloco}}</label>
                  <input class="not-editable" readonly (input)="setAreArticlesValid()" type="text"
                    formControlName="plannedOrder">
                </div>
              </div>
              }
              @if (articlesFormArray.controls.length > 1) {
                <button class="remove-article-button" (click)="removeArticle($index)">{{'remove-article' |
                  transloco}}</button>
                }
            </div>
          </div>
          <br>
          }
        </div>
      </form>
    </div>
  </div>

  <div class="row-button">
    <div>
      @if (actionType === 'new') {
      <button class="save-button" [disabled]="!isAllValid()" (click)="saveOrderWithoutPublish()">{{'save' |
        transloco}}</button>
      }@else {
      <button class="save-button" [disabled]="!isAllValid()" (click)="saveOrder()">{{'save' | transloco}}</button>
      }

      @if (actionType === 'new') {
      <button class="save-button simple-margin" [disabled]="!isAllValid()"
        (click)="postAndPublish()">{{'save-and-publish' |
        transloco}}</button>
      }@else {
      <button class="save-button simple-margin" [disabled]="!isAllValid()" (click)="publish()">{{'save-and-publish' |
        transloco}}</button>
      }
    </div>
    @if (actionType !== 'new') {
    <div>
      <button class="save-button"
        [disabled]="!isApprovedByPpPp() || editService.currOrder().successfullyFinished || editService.currOrder().canceled"
        (click)="finishOrder()">{{'finish' |
        transloco}}</button>

      <button class="save-button simple-margin"
        [disabled]="editService.currOrder().successfullyFinished || editService.currOrder().canceled"
        (click)="cancelOrder()">{{'cancel' |
        transloco}}</button>
    </div>
    }
  </div>