body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-group {
  flex: 1;
  margin-right: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.savebutton {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; /* Add margin between the form and the buttons */
}

.savebutton:hover {
  background-color: #45a049;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-input {
  margin-right: 10px; /* Adjust the margin for checkbox alignment */
}

.checkbox-label {
  margin: 0;
}
