<div class="form-container">
  <div class="form-row">
    <button class="back-button" (click)="containerRequestPage()">{{'back' | transloco}}</button>
  </div>

  <div id="contentToConvert" class="form-content">
    <div class="form-row">
      <div class="form-group">
        <label>{{'status' | transloco}}</label>
        <input [ngSignal]="status" type="text">
        @if(!isStatusValid()){
        <label class="error-message">{{'error-message-status' | transloco}}</label>
        }
      </div>

      <div class="form-group">
        <label>{{'customer' | transloco}}</label>
        <input [ngSignal]="customerName" type="text">
        @if(!isCustomerValid()){
        <label class="error-message">{{'error-message-customer' | transloco}}</label>
        }
      </div>

      <div class="form-group">
        <label>{{'created-by' | transloco}}</label>
        <input [ngSignal]="createdBy" type="text">
        @if(!isCreatedByValid()){
        <label class="error-message">{{'error-message-created-by' | transloco}}</label>
        }
      </div>

      <div class="form-group">
        <label>{{'amount' | transloco}}</label>
        <input min="1" max="100" [ngSignal]="amount" type="number">
        @if(!isAmountValid()){
        <label class="error-message">{{'error-message-amount' | transloco}}</label>
        }
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label>{{'checklist' | transloco}}</label>
        <select #currChecklist (change)="checklistId.set(+currChecklist.value)">
          @for (currChecklist of allCheckliststs(); track $index) {
          <option value="{{currChecklist.id}}">{{currChecklist.checklistname}}</option>
          }
        </select>
      </div>

      <div class="form-group">
        <label>{{'loading-plattform' | transloco}}</label>
        <input [ngSignal]="loadingPlattform" type="text">
        @if(!isLoadingPlattfromValid()){
        <label class="error-message">{{'error-message-loading-plattform' | transloco}}</label>
        }
      </div>

      <div class="form-group">
        <label>{{'ab-nr' | transloco}}</label>
        <input [ngSignal]="abnumber" type="number">
        @if(!isAbNumberValid()){
        <label class="error-message">{{'error-message-ab-number' | transloco}}</label>
        }
      </div>

      <div class="form-group">
        <label>{{'gross-weight-in-kg' | transloco}}</label>
        <input [ngSignal]="grossWeightInKg" type="number">
        @if(!isGrossWeightInKgValid()){
        <label class="error-message">{{'error-message-gross-weight' | transloco}}</label>
        }
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label>{{'container-size-a' | transloco}}</label>
        <input min="1" [ngSignal]="containersizeA" type="number">
        @if(!isContainerSizeAValid()){
        <label class="error-message">{{'error-message-container-size' | transloco}}</label>
        }
      </div>

      <div class="form-group">
        <label>{{'container-size-b' | transloco}}</label>
        <input min="1" [ngSignal]="containersizeB" type="number">
        @if(!isContainerSizeBValid()){
        <label class="error-message">{{'error-message-container-size' | transloco}}</label>
        }
      </div>

      <div class="form-group">
        <label>{{'container-size-hc' | transloco}}</label>
        <input min="1" [ngSignal]="containersizeHc" type="number">
        @if(!isContainerSizeHcValid()){
        <label class="error-message">{{'error-message-container-size' | transloco}}</label>
        }
      </div>

      <div class="form-group">
        <label>{{'incoterm' | transloco}}</label>
        <input [ngSignal]="incoterm" type="text">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <div class="checkbox-container">
          <label class="checkbox-label">{{'free-detention' | transloco}}</label>
          <input class="checkbox-input" [ngSignal]="freeDetention" type="checkbox">
        </div>
      </div>

      <div class="form-group">
        <div class="checkbox-container">
          <label class="checkbox-label">{{'thctb' | transloco}}</label>
          <input class="checkbox-input" [ngSignal]="thctb" type="checkbox">
        </div>
      </div>

      <div class="form-group">
        <div class="checkbox-container">
          <label class="checkbox-label">{{'fast-line' | transloco}}</label>
          <input class="checkbox-input" [ngSignal]="fastLine" type="checkbox">
        </div>
      </div>

      <div class="form-group">
        <div class="checkbox-container">
          <label class="checkbox-label">{{'direct-line' | transloco}}</label>
          <input class="checkbox-input" [ngSignal]="directLine" type="checkbox">
        </div>
      </div>

      <div class="form-group">
        <label>{{'ready-to-load' | transloco}}</label>
        <input [ngSignal]="readyToLoad" type="date" format="dd.MM.yyyy">
        @if (!validationService.isDateValid(readyToLoad())) { <label
          class="error-message">
          {{'error-message-date' | transloco}}</label>
        }
      </div>

      <div class="form-group">
        <label>{{'additional-text' | transloco}}</label>
        <input [ngSignal]="additonalInformation" type="text">
      </div>
    </div>

    <form [formGroup]="myForm">
      <div formArrayName="articles">
        @for (articleGroup of articlesFormArray.controls; track $index) {
        <div [formGroup]="getFormGroup($index)">
          <div class="form-row">
            <div class="form-group">
              <label>{{'article-number' | transloco}}</label>
              <input (change)="setAreArticleNumbersValid()" min="1" type="number" formControlName="articleNumber">
              @if (getFormGroup($index).get('articleNumber')!.value < 1) { <label class="error-message">
                {{'error-message-article-number' | transloco}}</label>
                }
            </div>

            @if (fastLine() === true || directLine() === true) {
            <div class="form-group">
              <label>{{'pallet-amount' | transloco}}</label>
              <input (change)="setAreArticleNumbersValid()" min="1" type="number" formControlName="palletAmount">
              @if (getFormGroup($index).get('palletAmount')!.value < 1) { <label class="error-message">
                {{'error-message-pallet-amount' | transloco}}</label>
                }
            </div>
            }
            @else {
            <div class="form-group"></div>
            }

          </div>
          @if (articlesFormArray.controls.length > 1) {
          <button class="remove-article-button" (click)="removeArticle($index)">{{'remove-article' |
            transloco}}</button>
          }
        </div>
        }
      </div>
      <button class="add-article-button" (click)="addArticle()">{{'add-article' | transloco}}</button>
    </form>
  </div>
  <div class="form-row">
    <div class="form-group">
      <button class="save-button" [disabled]="!isAllValid()" (click)="saveOrder()">{{'save' | transloco}}</button>
    </div>
  </div>
</div>