
<div class="overviewBox">
  <h1>Übersicht aktive Lieferzeit und Lieferwerkanfragen</h1>

  <button (click)="addOrderPage()"><h2>+ NEU</h2></button>
</div>

<div class="searchBox">
  <input type="text" placeholder="Suche...">
</div>

<div class="orderBox">
    <table>
      <tr>
        <th>Auftrag</th>
        <th>Kunde</th>
        <th>Angelegt von</th>
        <th>Artikel</th>
        <th>Status</th>
        <th>Menge</th>
        <th>Freigegeben</th>
        <th>Werk</th>
        <th>Aktuallisierung</th>
        <th>Anlage</th>
        <th>Checkliste</th>
        <th>Bearbeiten</th>
      </tr>
      @for (currOrder of dataService.allOrders(); track $index) {
      <tr>
          <td>{{currOrder.id}}</td>
          <td>{{currOrder.customerName}}</td>
          <td>{{currOrder.createdBy}}</td>
          <td>{{getArticleNumberForOrder(currOrder.id)}}</td>
          <td>{{currOrder.status}}</td>
          <td>{{currOrder.amount}}</td>
          <td>{{getApprovedString(currOrder.approved)}}</td>
          <td>WERK</td>
          <td>{{currOrder.lastUpdated | date: 'dd.MM.yyyy'}}</td>
          <td>ANLAGE</td>
          <td (click)="openDialog(currOrder.checklistId)"><mat-icon>assignment</mat-icon></td>
          <td (click)="editOrderPage(currOrder.id)"><mat-icon>create</mat-icon></td>
      </tr>
    }
    </table>
</div>