@import 'primeicons/primeicons.css';
@import 'primeng/resources/themes/nova/theme.css';
@import 'primeng/resources/primeng.min.css';

header {
    padding: 15px;
    background: #0d47a1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    color: white;
}

.bottomBox a{
    color: white;
}

.contentBox{
    display: flex;
    
}

.dropdownImg {
    width: 50px;
    margin-top: 5px;
    margin-right: 25px;
}