header {
    padding: 15px;
    background: #0d47a1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    color: white;
}



.bottomBox a{
    color: white;
}

.contentBox{
    display: flex;
    
}