table {
  border-collapse: collapse;
  width: 110%;

  tr {
    &:nth-child(even) {
      background-color: #f2f2f2;
    }

    &:hover {
      background-color: #ddd;
    }

    td {
      padding: 8px;
      border: 1px solid #ddd;
      text-align: left;

      &.selected {
        background-color: #4CAF50;
        color: white;
      } 
    }
  }

  hr {
    border: 1px solid #f2f2f2;
  }

  label {
    margin-top: 10px;
    display: block;
  }

  input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
}

.table-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 15px;
}

.table-group {
  flex: 1;
  margin-right: 10%;
  min-height: 250px;
}

.container {
  margin: 20px;
}

button {
  cursor: pointer;
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;

  &:hover {
    background-color: #005f79;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.row {
  display: flex;
  justify-content: space-between;
}

.group {
  flex: 1;
}

input{
  margin-left: 10px;
}

.selected {
  background-color: #4CAF50;
  color: white;
} 
