<div class="form-container">
  <div class="form-row">
    <button class="back-button" (click)="navigateToOverview()">{{'back' | transloco}}</button>
    <button class="save-button" (click)="generatePDF()">{{'generatePDF' | transloco}}</button>
  </div>

  <div id="contentToConvert" class="form-content">
    <div class="csData">
      <form [formGroup]="myForm">
        <div formArrayName="articles">
          @for (articleGroup of articlesFormArray.controls; track $index) {
          <div [formGroup]="getFormGroup($index)">
            <div class="form-row">
              <div class="form-group">
                <label>{{'article-number' | transloco}}</label>
                <input readonly type="number" formControlName="articleNumber">
              </div>

              <div class="form-group">
                <div class="checkbox-container">
                  <label class="checkbox-label">{{'direct-line' | transloco}}</label>
                  <input class="checkbox-input" type="checkbox" formControlName="directLine" onclick="return false;"
                    onkeydown="return false;">
                </div>
              </div>

              <div class="form-group">
                <div class="checkbox-container">
                  <label class="checkbox-label">{{'fast-line' | transloco}}</label>
                  <input class="checkbox-input" type="checkbox" formControlName="fastLine" onclick="return false;"
                    onkeydown="return false;">
                </div>
              </div>

              @if (getFormGroup($index).get('directLine')!.value) {
              <div class="form-group">
                <label>{{'pallet-amount' | transloco}}</label>
                <input readonly type="number" formControlName="palletAmount">
              </div>
              }
              @else {
              <div class="form-group"></div>
              }
            </div>
            <div class="form-row">
              <div class="form-group">
                <label>{{'minHeigthRequired' | transloco}}</label>
                <input readonly type="number" formControlName="minHeigthRequired">
              </div>

              <div class="form-group">
                <div class="checkbox-container">
                  <label class="checkbox-label">{{'inquiryForFixedOrder' | transloco}}</label>
                  <input class="checkbox-input" type="checkbox" formControlName="inquiryForFixedOrder"
                    onclick="return false;" onkeydown="return false;">
                </div>
              </div>

              <div class="form-group">
                <div class="checkbox-container">
                  <label class="checkbox-label">{{'inquiryForQuotation' | transloco}}</label>
                  <input class="checkbox-input" type="checkbox" formControlName="inquiryForQuotation"
                    onclick="return false;" onkeydown="return false;">
                </div>
              </div>

              <div class="form-group">
                <label>{{'desiredDeliveryDate' | transloco}}</label>
                <input readonly type="text" formControlName="desiredDeliveryDate">
              </div>
            </div>

            <label class="note">{{'edited-by-cs' | transloco}}</label>
            <hr>

            <div class="form-row">
              <div class="form-group">
                <label>{{'delivery-date' | transloco}}</label>
                <input type="text" formControlName="deliveryDate">
              </div>

              <div class="form-group">
                <label>{{'short-text' | transloco}}</label>
                <input type="text" formControlName="shortText">
              </div>

              <div class="form-group">
                <label>{{'factory' | transloco}}</label>
                <input type="text" formControlName="factory">
              </div>

              <div class="form-group">
                <label>{{'nozzle' | transloco}}</label>
                <input type="text" formControlName="nozzle">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label>{{'production-order' | transloco}}</label>
                <input type="text" formControlName="productionOrder">
              </div>

              <div class="form-group">
                <label>{{'planned-order' | transloco}}</label>
                <input type="text" formControlName="plannedOrder">
              </div>

              <div class="form-group">
                <label>{{'plant' | transloco}}</label>
                <input type="text" formControlName="plant">
              </div>

              <div class="form-group">
                <label>{{'additional-text' | transloco}}</label>
                <input type="text">
              </div>
            </div>
          </div>
          }
        </div>
      </form>
    </div>

    <div class="form-row">
      <div class="form-group">
        <button class="save-button" [disabled]="!isAllValid()" (click)="saveOrder()">{{'save' | transloco}}</button>
      </div>
      <div class="form-group">
        <button class="save-button" [disabled]="!isAllValid()" (click)="publish()">{{'save-and-publish' |
          transloco}}</button>
      </div>
    </div>
  </div>