.form-container {
  margin: 20px;
}

.form-content {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.form-row-edited-articles {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
  margin-right: 5px;
}

.form-group-edited-articles {
  margin-right: 30px;
  flex: 0 0 auto;
}

.margin-top{
  margin-top: 25px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-input {
  margin-right: 10px;
}

.checkbox-label {
  margin: 0;
}

.save-button,
.back-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button {
  background-color: #3498db;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #2c3e50;
  }
}

.save-button {
  background-color: #4CAF50;
  color: white;

  &:hover {
    background-color: #45a049;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.note {
  display: block;
  text-align: center;
  margin-top: 15px;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;

  .checkbox-label {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .checkbox-input {
    align-self: stretch;
  }
}

.note {
  display: block;
  text-align: center;
  margin-top: 15px;
}

.border {
  padding: 10px; 
  border-color: #3498db; 
  border-style: solid;
  border-width: 3px;
}

.error-message {
  position: absolute;
  color: red;
  font-size: 14px;
  font-weight: bold;
  margin-left: 2px;
}

.header-container{
  display: flex;
  justify-content: flex-start;
}

.not-editable{
  background-color: #f0f0f0
}

.simple-margin{
  margin-left: 10px;
}

.kw{
  display: flex;
}

.medium-number-field {
  width: 120px;
}

.small-number-field {
  width: 100px;
}

.additional-text {
  height: 100px;
}

.simple-margin-with-margin-top{
  margin-top: 8px;
  margin-right: 5px;
}