<div class="form-container">
  <div class="form-row">
    <button class="back-button" (click)="editService.navigateToPath()">{{'back' | transloco}}</button>
    <button class="save-button" (click)="editService.generatePDFFromContent()">{{'generatePDF' | transloco}}</button>
  </div>

  <div id="contentToConvert" class="form-content">
    <div class="csData">
      <form [formGroup]="myForm">
        <div formArrayName="articles">
          @for (articleGroup of articlesFormArray.controls; track $index) {
          <div [formGroup]="getFormGroup($index)">
            <div class="form-row">
              <div class="form-group">
                <label>{{'article-number' | transloco}}</label>
                <input readonly type="number" formControlName="articleNumber">
              </div>

              <div class="form-group">
                <label>{{'min-heigth-required' | transloco}}</label>
                <input readonly type="number" formControlName="minHeigthRequired">
              </div>

              <div class="form-group">
                <div class="checkbox-container">
                  <label class="checkbox-label">{{'inquiry-for-fixed-order' | transloco}}</label>
                  <input class="checkbox-input" type="checkbox" formControlName="inquiryForFixedOrder"
                    onclick="return false;" onkeydown="return false;">
                </div>
              </div>

              <div class="form-group">
                <div class="checkbox-container">
                  <label class="checkbox-label">{{'inquiry-for-quotation' | transloco}}</label>
                  <input class="checkbox-input" type="checkbox" formControlName="inquiryForQuotation"
                    onclick="return false;" onkeydown="return false;">
                </div>
              </div>

              <div class="form-group">
                <label>{{'desired-delivery-date' | transloco}}</label>
                <input readonly type="text" formControlName="desiredDeliveryDate">
              </div>
            </div>

            <label class="note">{{'edited-by-cs' | transloco}}</label>
            <hr>

            <div class="form-row">
              <div class="form-group">
                <label>{{'delivery-date' | transloco}}</label>
                <input (input)="setAreArticlesValid()" type="date" formControlName="deliveryDate" format="dd.MM.yyyy">
                @if (!validationService.isDateValid(getFormGroup($index).get('deliveryDate')!.value)) { <label
                  class="error-message">
                  {{'error-message-date' | transloco}}</label>
                }
              </div>

              <div class="form-group">
                <label>{{'short-text' | transloco}}</label>
                <input (input)="setAreArticlesValid()" type="text" formControlName="shortText">
                @if (!validationService.isAnyInputValid(getFormGroup($index).get('shortText')!.value)) { <label
                  class="error-message">
                  {{'error-message-any-string' | transloco}}</label>
                }
              </div>

              <div class="form-group">
                <label>{{'factory' | transloco}}</label>
                <input (input)="setAreArticlesValid()" type="text" formControlName="factory">
                @if (!validationService.isAnyInputValid(getFormGroup($index).get('factory')!.value)) { <label
                  class="error-message">
                  {{'error-message-any-string' | transloco}}</label>
                }
              </div>

              <div class="form-group">
                <label>{{'nozzle' | transloco}}</label>
                <input (input)="setAreArticlesValid()" type="text" formControlName="nozzle">
                @if (!validationService.isAnyInputValid(getFormGroup($index).get('nozzle')!.value)) { <label
                  class="error-message">
                  {{'error-message-any-string' | transloco}}</label>
                }
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label>{{'production-order' | transloco}}</label>
                <input (input)="setAreArticlesValid()" type="text" formControlName="productionOrder">
                @if (!validationService.isAnyInputValid(getFormGroup($index).get('productionOrder')!.value)) { <label
                  class="error-message">
                  {{'error-message-any-string' | transloco}}</label>
                }
              </div>

              <div class="form-group">
                <label>{{'planned-order' | transloco}}</label>
                <input (input)="setAreArticlesValid()" type="text" formControlName="plannedOrder">
                @if (!validationService.isAnyInputValid(getFormGroup($index).get('plannedOrder')!.value)) { <label
                  class="error-message">
                  {{'error-message-any-string' | transloco}}</label>
                }
              </div>

              <div class="form-group">
                <label>{{'plant' | transloco}}</label>
                <input (input)="setAreArticlesValid()" type="text" formControlName="plant">
                @if (!validationService.isAnyInputValid(getFormGroup($index).get('plant')!.value)) { <label
                  class="error-message">
                  {{'error-message-any-string' | transloco}}</label>
                }
              </div>

              <div class="form-group">
                <label>{{'additional-text' | transloco}}</label>
                <input type="text">
              </div>
            </div>
          </div>
          <br>
          <br>
          <hr>
          }
        </div>
      </form>
    </div>

    <div class="form-row">
      <div class="form-group">
        <button class="save-button" [disabled]="!isAllValid()" (click)="saveOrder()">{{'save' | transloco}}</button>
      </div>
      <div class="form-group">
        <button class="save-button" [disabled]="!isAllValid()" (click)="publish()">{{'save-and-publish' |
          transloco}}</button>
      </div>
    </div>
  </div>