.contentBox {
    display: flex;

}

.bottomBox {
    bottom: 0;
    padding: 15px;
    background: #0d47a1;
    margin-top: 10px;
    z-index: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    color: white;
    width: 100%;
    justify-content: center;
}

.form-row {
    display: flex;
    /* Use flexbox */
    flex-direction: column;
    /* Arrange items in a column */
}

.form-row>app-container-tool-function {
    margin-bottom: 10px;
    /* Add margin between items for vertical spacing */
}