.contentBox{
    display: flex;
    
}

.bottomBox{
    bottom: 0;
    padding: 15px;
    background: #0d47a1;
    margin-top: 10px;
    z-index: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    color: white;
    width: 100%;
    justify-content: center;
}