#box{
    border: 2px solid cornflowerblue;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;

}

#header{
    width: 100%;
    text-align: center;
}


#content{
    display: flex;
    flex-direction: column;
}

#content label{
    word-wrap: break-word;
}