<div class="form-container">
  <div class="form-row">
    <button class="back-button" (click)="editService.navigateToPath()">{{'back' | transloco}}</button>
    <button class="save-button" (click)="editService.generatePDFFromContent()">{{'generatePDF' | transloco}}</button>
  </div>

  <div id="contentToConvert" class="form-content">
    <div class="form-row">
      <div class="form-group">
        <div class="header-container">
          <div>
            <label>{{'accepting-port' | transloco}}</label>
          </div>
          <div>
            @if(!isAcceptingPortValid()){
            <label class="error-message">{{'simple-error' | transloco}}</label>
            }
          </div>
        </div>
        <input type="text" [ngSignal]="acceptingPort">
      </div>

      <div class="form-group">
        <div class="header-container">
          <div>
            <label>{{'boat' | transloco}}</label>
          </div>
          <div>
            @if(!isBoatValid()){
            <label class="error-message">{{'simple-error' | transloco}}</label>
            }
          </div>
        </div>
        <input type="text" [ngSignal]="boat">
      </div>

      <div class="form-group">
        <div class="header-container">
          <div>
            <label>{{'inquery-number' | transloco}}</label>
          </div>
          <div>
            @if(!isInquiryNumberValid()){
            <label class="error-message">{{'simple-error' | transloco}}</label>
            }
          </div>
        </div>
        <input type="number" [ngSignal]="inquiryNumber">
      </div>

      <div class="form-group">
        <div class="header-container">
          <div>
            <label>{{'sped' | transloco}}</label>
          </div>
          <div>
            @if(!isSpedValid()){
            <label class="error-message">{{'simple-error' | transloco}}</label>
            }
          </div>
        </div>
        <input type="text" [ngSignal]="sped">
      </div>

      <div class="form-group">
        <div class="header-container">
          <div>
            <label>{{'country' | transloco}}</label>
          </div>
          <div>
            @if(!isCountryValid()){
            <label class="error-message">{{'simple-error' | transloco}}</label>
            }
          </div>
        </div>
        <input type="text" [ngSignal]="country">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <div class="header-container">
          <div>
            <label>{{'excepted-retrieve-week' | transloco}}</label>
          </div>
          <div>
            @if(!isExpectedRetrieveWeekValid()){
            <label class="error-message">{{'simple-error' | transloco}}</label>
            }
          </div>
        </div>
        <input type="date" [ngSignal]="expectedRetrieveWeek" format="dd.MM.yyyy">
      </div>

      <div class="form-group">
        <div class="header-container">
          <div>
            <label>{{'retrieve-date' | transloco}}</label>
          </div>
          <div>
            @if(!isRetrieveDateValid()){
            <label class="error-message">{{'simple-error' | transloco}}</label>
            }
          </div>
        </div>
        <input type="date" [ngSignal]="retrieveDate" format="dd.MM.yyyy">
      </div>

      <div class="form-group">
        <div class="header-container">
          <div>
            <label>{{'invoice-on' | transloco}}</label>
          </div>
          <div>
            @if(!isInvoiceOnValid()){
            <label class="error-message">{{'simple-error' | transloco}}</label>
            }
          </div>
        </div>
        <input type="date" [ngSignal]="invoiceOn" format="dd.MM.yyyy">
      </div>

      <div class="form-group">
        <div class="header-container">
          <div>
            <label>{{'ets' | transloco}}</label>
          </div>
          <div>
            @if(!isEtsValid()){
            <label class="error-message">{{'simple-error' | transloco}}</label>
            }
          </div>
        </div>
        <input type="date" [ngSignal]="ets" format="dd.MM.yyyy">
      </div>

      <div class="form-group">
        <div class="header-container">
          <div>
            <label>{{'eta' | transloco}}</label>
          </div>
          <div>
            @if(!isEtaValid()){
            <label class="date-error-message">{{'error-message-date' | transloco}}</label>
            }
          </div>
        </div>
        <input type="date" [ngSignal]="eta" format="dd.MM.yyyy">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <div class="header-container">
          <div>
            <label>{{'weight-in-kg' | transloco}}</label>
          </div>
          <div>
            @if(!isWeigthInKgValid()){
            <label class="error-message">{{'simple-error' | transloco}}</label>
            }
          </div>
        </div>
        <input type="number" [ngSignal]="weightInKg">
      </div>

      <div class="form-group">
        <div class="checkbox-container">
          <label class="checkbox-label">{{'is-container-40' | transloco}}</label>
          <input class="checkbox-input" type="checkbox" [ngSignal]="isContainer40">
        </div>
      </div>

      <div class="form-group">
        <div class="checkbox-container">
          <label class="checkbox-label">{{'is-container-hc' | transloco}}</label>
          <input class="checkbox-input" type="checkbox" [ngSignal]="isContainerHc">
        </div>
      </div>

      <div class="form-group">
        <div class="header-container">
          <div>
            <label>{{'retrieve-location' | transloco}}</label>
          </div>
          <div>
            @if(!isRetrieveLocationValid()){
            <label class="error-message">{{'simple-error' | transloco}}</label>
            }
          </div>
        </div>
        <input type="text" [ngSignal]="retrieveLocation">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <div class="header-container">
          <div>
            <label>{{'debt-capital-general-forerun-eur' | transloco}}</label>
          </div>
          <div>
            @if(!isDebtCapitalGeneralForerunEurValid()){
            <label class="error-message">{{'simple-error' | transloco}}</label>
            }
          </div>
        </div>
        <input type="number" [ngSignal]="debtCapitalGeneralForerunEur">
      </div>

      <div class="form-group">
        <div class="header-container">
          <div>
            <label>{{'debt-capital-main-dol' | transloco}}</label>
          </div>
          <div>
            @if(!isDebtCapitalMainDolValid()){
            <label class="error-message">{{'simple-error' | transloco}}</label>
            }
          </div>
        </div>
        <input type="number" [ngSignal]="debtCapitalMainDol">
      </div>

      <div class="form-group">
        <div class="header-container">
          <div>
            <label>{{'debt-capital-trailing-dol' | transloco}}</label>
          </div>
          <div>
            @if(!isDebtCapitalTrailingDolValid()){
            <label class="error-message">{{'simple-error' | transloco}}</label>
            }
          </div>
        </div>
        <input type="number" [ngSignal]="debtCapitalTrailingDol">
      </div>

      <div class="form-group">
        <div class="header-container">
          <div>
            <label>{{'port-of-departure' | transloco}}</label>
          </div>
          <div>
            @if(!isPortOfDepartureValid()){
            <label class="error-message">{{'simple-error' | transloco}}</label>
            }
          </div>
        </div>
        <input type="text" [ngSignal]="portOfDeparture">
      </div>

      <div class="form-group">
        <label>{{'additional-text' | transloco}}</label>
        <input [ngSignal]="editService.additonalInformation" type="text">
      </div>
    </div>

    <br>
    <br>

    <div class="csData">
      <div class="form-row">
        <div class="form-group">
          <label>{{'customer' | transloco}}</label>
          <input class="not-editable" readonly [ngSignal]="editService.customerName" type="text">
        </div>

        <div class="form-group">
          <label>{{'created-by' | transloco}}</label>
          <input class="not-editable" readonly [ngSignal]="editService.createdBy" type="text">
        </div>

        <div class="form-group">
          <label>{{'amount' | transloco}}</label>
          <input class="not-editable" readonly [ngSignal]="editService.amount" type="number">
        </div>

        <div class="form-group">
          <label>{{'ready-to-load' | transloco}}</label>
          <input class="not-editable" format="dd.MM.yyyy" readonly [ngSignal]="readyToLoad" type="date">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label>{{'checklist' | transloco}}</label>
          <input class="not-editable" readonly type="text" [ngSignal]="currChecklistname">
        </div>

        <div class="form-group">
          <label>{{'loading-plattform' | transloco}}</label>
          <input class="not-editable" readonly [ngSignal]="loadingPlattform" type="text">
        </div>

        <div class="form-group">
          <label>{{'ab-nr' | transloco}}</label>
          <input class="not-editable" readonly [ngSignal]="abnumber" type="number">
        </div>

        <div class="form-group">
          <label>{{'gross-weight-in-kg' | transloco}}</label>
          <input class="not-editable" readonly [ngSignal]="grossWeightInKg" type="number">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label>{{'container-size-a' | transloco}}</label>
          <input class="not-editable" readonly [ngSignal]="containersizeA" type="number">
        </div>

        <div class="form-group">
          <label>{{'container-size-b' | transloco}}</label>
          <input class="not-editable" readonly [ngSignal]="containersizeB" type="number">
        </div>

        <div class="form-group">
          <label>{{'container-size-hc' | transloco}}</label>
          <input class="not-editable" readonly [ngSignal]="containersizeHc" type="number">
        </div>

        <div class="form-group">
          <label>{{'incoterm' | transloco}}</label>
          <input class="not-editable" readonly [ngSignal]="incoterm" type="text">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <div class="checkbox-container">
            <label class="checkbox-label">{{'free-detention' | transloco}}</label>
            <input [disabled]="true" class="checkbox-input" [ngSignal]="freeDetention" type="checkbox">
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox-container">
            <label class="checkbox-label">{{'thctb' | transloco}}</label>
            <input [disabled]="true" [ngSignal]="thctb" type="checkbox">
          </div>
        </div>
      </div>

      <form [formGroup]="myForm">
        <div formArrayName="articles">
          @for (articleGroup of articlesFormArray.controls; track $index) {
          <div [formGroup]="getFormGroup($index)">
            <div class="form-row">
              <div class="form-group">
                <label>{{'article-number' | transloco}}</label>
                <input class="not-editable" readonly type="number" formControlName="articleNumber">
              </div>

              <div class="form-group">
                <div class="checkbox-container">
                  <label class="checkbox-label">{{'direct-line' | transloco}}</label>
                  <input [disabled]="true" [ngSignal]="isDirectLine" class="checkbox-input" type="checkbox">
                </div>
              </div>

              <div class="form-group">
                <div class="checkbox-container">
                  <label class="checkbox-label">{{'fast-line' | transloco}}</label>
                  <input [disabled]="true" [ngSignal]="isFastLine" class="checkbox-input" type="checkbox">
                </div>
              </div>

              @if (isDirectLine() || isFastLine()) {
              <div class="form-group">
                <label>{{'pallet-amount' | transloco}}</label>
                <input class="not-editable" readonly type="number" formControlName="palletAmount">
              </div>
              }
              @else {
              <div class="form-group"></div>
              }
            </div>
          </div>
          }
        </div>
      </form>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <button class="save-button" [disabled]="!isAllValid()" (click)="saveOrder()">{{'save' | transloco}}</button>
    </div>
    <div class="form-group">
      <button class="save-button" [disabled]="!isAllValid()" (click)="publish()">{{'save-and-publish' |
        transloco}}</button>
    </div>
  </div>
</div>